.logo{
	height: 100px;
}

.space{
	padding-right: 10px;
}

.user{
	height: 30px;
	margin-right: 10px;
}

.pageTitle{
	font-size: 20px;
}

.btn-icon {
	border: none;
	margin: none;
	padding: none;
	font-size: 17px;
}


a#title {
	margin-left: 10px;
	font-size: 30px;
}

.input-group{
	margin-bottom: 10px;
}

.form-control {
	font-family: roboto;
	font-size: 12px;
}

table#modal {
	font-size: 12px;
}