.bg-img {
  width: 100%;
  height: 100vh;
  background: url("../img/login_bg1.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
}
.bg-img2 {
  width: 100%;
  height: 100vh;
  background: url("../img/login_bg2.jpg") center center no-repeat;
  background-size: cover;
  position: fixed;
}
.layer {
  background-color: rgba(0, 0, 0, 0.70);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.input-group{
	margin-bottom: 10px;
}
.logoLogin{
	height: 150px;
}
.marginLogin{
	margin-top: 5vh;
}

.margin{
  margin: 100px;
}
.whiteLayer{
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.34);
}
.style{
	background-color: rgba(255, 255, 255, 0.5);
	padding:40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.34);
}
.titleLogin{
	font-size: 1.4em;
	letter-spacing: 1.3px;
  color: #fff;
}
.titleChange{
  font-size: 1.3em;
  letter-spacing: 1.3px;
  color: #000;
}
.titleChange2{
  font-size: 1em;
  letter-spacing: 1px;
  color: #000;
}
.note{
  font-size: 0.8em;
}
.space{
	padding-right: 5px;
}
input,
.input-group-addon{
  background-color:transparent !important;
  border: 1px solid #fff !important;
}
input{
  color: #fff !important;
}
::-webkit-input-placeholder,
span { /* Chrome */
  color: white !important;
}
:-ms-input-placeholder,
span { /* IE 10+ */
  color: #fff !important;
}
::-moz-placeholder,
span { /* Firefox 19+ */
  color: #fff !important;
  opacity: 1;
}
:-moz-placeholder,
span { /* Firefox 4 - 18 */
  color: #fff !important;
  opacity: 1;
}
.btn-login{
  background-color: #dedfe0 !important;
  color: #2d2d2d;
}
.btn-login:hover{
  background-color: #4ac4e2 !important;
  color: #fff;
  cursor: pointer;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
.heading1{
  font-size: 1.5em;
}
.heading2{
  font-size: 1em;
}
.changePass{
  height: 30vh;
}