body {
	font-size: 12px;
	font-family: "Open Sans Light";
}


.btn-circle {
	border-radius: 100%;
}

#remove.btn-circle {
	border-radius: 100%;
	font-size: 12px;
	height: 30px;
	width: 30px;
	padding: 7px;
}

strong {
	font-family: "Open Sans Bold";
}

.row {
	margin-top: 10px;
}

.table {
	font-size: 12px;
}

#filter.card-body {
	padding: 5px 20px 10px 20px; 
}

#pagination .number{
	margin: 0 10px;
	font-size: 12px;
}

#pagination .number.active {
	text-decoration: underline;
	text-underline-position: under;
}

#pagination .btn {
	width: 30px;
	height: 30px;
	font-size: 12px;
	padding: 5px;
}

.results {
	margin-top: 10px;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

thead {
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}

.modal-body {
	font-size: 11px;
}

.maps {
	border: 1px solid #000;
}

label {
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#btn-cal {
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	margin-top: 5px;
}

h3 {
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: 'Op';
}

.legend{
	font-size: 12px;
	text-transform: uppercase;
}

.legend strong {
	letter-spacing: 2px;
}

.append-link {
	text-transform: uppercase;
	font-size: 12px;
}

.gray-status {
	padding: 5px 20px;
	color: #fff;
	background-color: #b7b7b7;
	border-radius: 5px;
}

.green-status {
	padding: 5px 20px;
	color: #fff;
	background-color: #6aa84f;
	border-radius: 5px;
}

.red-status {
	padding: 5px 20px;
	color: #fff;
	background-color: #c0504d;
	border-radius: 5px;
}

.col-form-label-sm {
	font-size: 11px;
}

.form-control {
	font-size: 12px;
	letter-spacing: 0.08em;
}

.btn-group-vertical {
	font-size: 10px;
	left: 0;
	margin-right: 1em;
}

.btn.arrowSort {
	font-size: 0.75em;
	padding: 0;
	background: transparent;
	color: white;
}

.modal-title {
	font-family: "Open Sans Bold";
}

fieldset {
	border: #b7b7b7 1px solid;
	border-radius: 1em;
	padding: 1em;
	margin-bottom: 1em;
}

fieldset legend {
	text-align: center;
	font-size: 0.95em;
	font-family: "Open Sans Bold";
	letter-spacing: 0.5em;
	width: auto;
	padding-left: 0.5em;
	text-transform: uppercase;
	margin: 0;
}

.btn-xs {
  font-size: 0.95em;
  padding: 0.25em 1.25em;
  margin-top: 0.45em;
}



/** FONTS **/

@font-face {
	font-family: "Open Sans Light";
	src: url('../../fonts/OpenSans-Light.woff2');
}

@font-face {
	font-family: "Open Sans Bold";
	src: url('../../fonts/OpenSans-Bold.woff2');
}